@model NetCoders.Madrugada.UI.WEB.ViewModel.TelefoneViewModel


    @using (Html.BeginCollectionItem("TelefonesViewModel"))
    {

        <div class="form-horizontal">
            @Html.HiddenFor(x => x.idFicante)
            @Html.HiddenFor(x => x.idTelefone)

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.nrTelefone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nrTelefone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nrTelefone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
